{% extends 'base.html' %}
{% load static %}

{% load bootstrap4 %}
{% block body %}

<section id="slider">
  <div style="z-index: 1;" class="swiper slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-flex jarallax position-relative"
        style="background-image: url(../../static/images/banner-img2.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <h2 style=" font-family: 'Droid Arabic Kufi';" class="banner-content text-center text-white m-auto" data-aos="zoom-out">تاتو حواجب & اكستنشن رموش <br>
          <a style=" font-family: 'Droid Arabic Kufi';" href="https://wa.me/qr/K7PDJTR4RNAEN1" class="banner-content text-center m-auto btn btn-primary mt-3" data-aos="zoom-out">احجزي موعدك من هنا     </a>
        </h2>
      </div>
      <div class="swiper-slide d-flex jarallax position-relative"
        style="background-image: url(../../static/images/banner-img1.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <h2 style=" font-family: 'Droid Arabic Kufi';" class="banner-content text-center text-white m-auto" data-aos="zoom-out">أكسنتنشن أظافر <br>
          <a style=" font-family: 'Droid Arabic Kufi';" href="https://wa.me/qr/K7PDJTR4RNAEN1" class="banner-content text-center m-auto btn btn-primary mt-3" data-aos="zoom-out">احجزي موعدك من هنا     </a>
        </h2>
      </div>
      <div class="swiper-slide d-flex jarallax position-relative"
        style="background-image: url(../../static/images/banner-img3.png); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <h2 style=" font-family: 'Droid Arabic Kufi';" class="banner-content text-center text-white m-auto" data-aos="zoom-out">توريد شفاه <br>
          <a style=" font-family: 'Droid Arabic Kufi';" href="https://wa.me/qr/K7PDJTR4RNAEN1" class="banner-content text-center m-auto btn btn-primary mt-3" data-aos="zoom-out">احجزي موعدك من هنا     </a>
        </h2>
      </div>
    </div>
    <div class="position-absolute top-0 bottom-0 end-0 m-auto me-0 me-md-5 main-slider-button-next">
      <svg class="arrow-right light-color" width="60" height="60">
        <use xlink:href="#arrow-right"></use>
      </svg>
    </div>
    <div class="position-absolute top-0 bottom-0 start-0 m-auto ms-0 ms-md-5 main-slider-button-prev">
      <svg class="arrow-left light-color" width="60" height="60">
        <use xlink:href="#arrow-left"></use>
      </svg>
    </div>
  </div>
</section>



  <section id="categories">
    <div class="container-lg padding-medium">
      <div class="row g-md-5">
        <div class="col-md-3 my-3">
          <div class="text-center">
            <iconify-icon class="service-icon text-primary display-3"
              icon="solar:medal-ribbons-star-outline"></iconify-icon>
            <h3 style=" font-family: 'Droid Arabic Kufi';" class="py-2 ">سنوات من الخبرة +5 </h3>
            <p style=" font-family: 'Droid Arabic Kufi';" class="blog-paragraph"> نقديم أجمل وأحدث أساليب التجميل. نضمن لكِ خدمات احترافية ونتائج رائعة تعكس خبرتنا الطويلة واهتمامنا بأدق التفاصيل.</p>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="text-center">
            <iconify-icon class="service-icon text-primary display-3" icon="ph:plant"></iconify-icon>
            <h3 style=" font-family: 'Droid Arabic Kufi';" class="py-2 ">100% منتجات طبيعية</h3>
            <p style=" font-family: 'Droid Arabic Kufi';" class="blog-paragraph">منتجاتنا طبيعية 100% لتحصلي على جمال آمن وصحي بكل ثقة.</p>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="text-center">
            <iconify-icon class="service-icon text-primary display-3"
              icon="solar:chat-round-like-broken"></iconify-icon>
            <h3 style=" font-family: 'Droid Arabic Kufi';" class="py-2 ">6k+ عميل راض</h3>
            <p style=" font-family: 'Droid Arabic Kufi';" class="blog-paragraph">لدينا أكثر من 6 ألف عميل راضٍ، يشهدون بجودة خدماتنا وتميزنا في تلبية توقعاتهم.</p>
          </div>
        </div>
        <div class="col-md-3 my-3">
          <div class="text-center">
            <iconify-icon class="service-icon text-primary display-3" icon="solar:people-nearby-outline"></iconify-icon>
            <h3 style=" font-family: 'Droid Arabic Kufi';" class="py-2 ">4  فريق متخصص</h3>
            <p style=" font-family: 'Droid Arabic Kufi';" class="blog-paragraph"> أفضل الخبراء في مجال التجميل، حيث يجمعون بين المهارة العالية والخبرة العميقة لتقديم أفضل الخدمات لعملائنا..</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="jarallax"
    style="background-image: url(../../static/images/background-2.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="container-lg padding-medium">
      <div class="section-title text-center mb-5">
        <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal">الخدمات التي نقدمها</h2>
      </div>

      <div class="row g-lg-5 my-0">

        {% for item in services %}
        <div class="col-md-6 col-lg-3 my-4">
            <div class="bg-white p-3 text-center">
                <a href="{% url 'nour:service_detail' item.id %}">
                    <div class="zoom-effect">
                        <img style="width: 400px; height: 250px" src="{{ item.image.url }}" class="img-fluid" alt="image">
                    </div> 
                </a>
                <h4 class="mt-3 m-0">{{ item.name }}</h4>
            </div>
        </div>
    {% endfor %}
    

      </div>

      <div class="text-center">
      </div>

    </div>
    </div>
  </section>


  <section id="about-us">
    <div class="container-lg padding-medium">
        <div class="row align-items-center g-md-5">
            <!-- Video on the left -->
            <div class="col-md-6 order-2 order-md-1">
                <div class="video my-5">
                    <div class="video-content position-relative open-up">
                        <div class="video-bg">
                            <video style=" width: 600px;height: 600px;" class="video-image img-fluid" controls>
                                <source src="{% static 'images/video.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Text on the right -->
            <div class="col-md-6 order-1 order-md-2">
                <div class="section-title">
                    <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal mb-3 text-capitalize" style="text-align: right;">من نحن</h2>
                </div>
                <p style="text-align: right;">نحن صالون التجميل الأكثر شهرة في المنطقة، حيث نقدم لك تجربة فريدة تجمع بين الفخامة والنظافة الممتازة. نختص في تقديم خدمات تجميل متكاملة تشمل تركيب الإكستنشن للرموش، توريد الشفاه، العناية بالأظافر، تقشير البشرة، بالإضافة إلى جلسات الاسترخاء في الجاكوزي.</p>
                
                <p style="text-align: right;">فريقنا من الخبراء المتخصصين يسعى جاهدًا لتحقيق أعلى مستويات الرضا والجودة، مستندين إلى سنوات من الخبرة والتفاني في مجال التجميل. نحرص على استخدام أحدث التقنيات وأجود المنتجات لضمان أن تشعري بجمالك وثقتك في كل لحظة.</p>
                <p style="text-align: right;">نحن هنا لتقديم العناية الشاملة التي تستحقينها، ونسعى لأن نكون وجهتك الأولى في عالم الجمال.</p>
            </div>
        </div>
    </div>
</section>


<section id="team" dir="rtl">
  <div class="container-lg">
    <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal text-center mb-5">المختصين</h2>
    <div class="row justify-content-center">
      {% for team in team %}
      <div class="col-md-6 col-lg-2 my-4 my-lg-0 d-flex justify-content-center">
        <div class="team-member position-relative text-center">
          <div class="image-holder zoom-effect">
            <img style="height: 400px; width: 400px;" src="{{ team.image.url }}" alt="team member" class="img-fluid mx-auto">
          </div>
          <div class="member-info mt-3">
            <a class="hover-color">
              <h4 style=" font-family: 'Droid Arabic Kufi';" class="m-0">{{ team }}</h4>
            </a>
            <p style=" font-family: 'Droid Arabic Kufi';" class="m-0">{{ team.specialization }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<section id="products" dir="rtl">
  <div class="container-lg padding-medium">
    <div class="d-md-flex align-items-center justify-content-between mb-5">
      <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal text-end" dir="l">المواد المستخدمة</h2> <!-- تم استخدام text-end لتحديد المحاذاة لليمين -->
    </div>

    <div class="swiper swiper-carousel mb-5">
      <div class="swiper-wrapper">

        {% for item in product %}
        <div class="swiper-slide">
          <div class="product-item">
            <div class="image-holder position-relative">
              <a href="single-product.html">
                <img style="width: 894px; height: 300px;" src="{{item.image.url}}" alt="categories" class="product-image img-fluid">
              </a>
              <a href="wishlist.html" class="btn-icon btn-wishlist rounded-circle">
                <svg width="20" height="20">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
              <a href="cart.html" class="btn-icon btn-cart rounded-circle">
                <svg width="20" height="20">
                  <use xlink:href="#cart"></use>
                </svg>
              </a>
              <div class="product-content d-flex  align-items-center" style="width: 100%;">
                <h5 style=" font-family: 'Droid Arabic Kufi';" class="element-title mt-3">
                  <a>{{item}}</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>


  <section id="price" dir="rtl" class="jarallax"
    style="background-image: url(../../static/images/background-1.jpg); background-size:cover; background-repeat: no-repeat; background-position: center;">
    <div class="container-lg padding-medium">
      <div class="section-title text-center mb-5">
        <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal">أسعارنا</h2>
      </div>

      <div class="row g-md-5 my-0">
        <div class="col-md-6 my-4">
          <div class="bg-white p-2 p-lg-5">
            <div class="list-group rounded-0">
              {% for p in price_left%}
              <a 
                class="border-0 list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                aria-current="true">
                <img src="{{p.image.url}}" alt="twbs" width="100" height="100"
                  class="rounded-circle flex-shrink-0 mb-4">
                <div>
                  <div class="d-flex gap-4 w-100 justify-content-between">
                    <h4 style=" font-family: 'Droid Arabic Kufi';" class="fw-semibold">{{p}}</h3>
                      <h4 class="fw-semibold">{{p.price}}</h4>
                  </div>
                  <p style=" font-family: 'Droid Arabic Kufi';" class="mb-0 opacity-75">{{p.description}}.</p>
                </div>
              </a>
          {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-6 my-4">
          <div class="bg-white p-2 p-md-5">
            <div class="list-group rounded-0">
              {% for p in price_right %}
              <a 
                class="border-0 list-group-item list-group-item-action d-lg-flex align-items-center gap-4 py-3"
                aria-current="true">
                <img src="{{p.image.url}}" alt="twbs" width="100" height="100"
                  class="rounded-circle flex-shrink-0 mb-4">
                <div>
                  <div class="d-flex gap-4 w-100 justify-content-between">
                    <h4 style=" font-family: 'Droid Arabic Kufi';" class="fw-semibold">{{p}}</h3>
                      <h4 class="fw-semibold">{{p.price}}</h4>
                  </div>
                  <p style=" font-family: 'Droid Arabic Kufi';" class="mb-0 opacity-75">{{p.description}}.</p>
                </div>
              </a>
            {% endfor %}
            </div>
          </div>
        </div>


      </div>

    </div>
    </div>
  </section>

  <section id="gallery">
    <div class="container-lg padding-medium ">
      <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal text-center mb-5">معرض أعمالنا</h2>
      <div class="row entry-container">
{% for item in gallery %}
        <div class="entry-item col-md-4 my-3">
          <a  title="photo" class="image-link"><img src="{{item.image.url}}"
              class=" post-image img-fluid  "></a>
        </div>
    {% endfor%}
   
    </div>
  </section>





  <section id="appointment" class="jarallax"
    style="background-image: url(images/background-1.jpg); background-repeat: no-repeat; background-position: center;">

    <div class="container-lg padding-medium">

      <div class="offset-md-3 col-md-6 text-center ">

        <h2 style=" font-family: 'Droid Arabic Kufi';" class="display-4 fw-normal mb-3" style="color: #df808f;"> احجزي موعدك عن طريق الواتس </h2>
        <h4>"نسعد بلقائك! يرجى ضغط على زر الواتس. سيتواصل معك أحد أعضاء فريقنا في غضون ساعات  لتأكيد تفاصيل موعدك. سنبذل قصارى جهدنا لتلبية الوقت المطلوب، ولكن موعدك لن يتم تأكيده حتى نتواصل معك. شكرًا لك!"</h4>
        <p>Call: 0997104223  -  0997473022 </p>


        

        <button class="btn btn-primary mt-3" style="background-color: #df808f; border-color: #df808f;">
          <a href="https://wa.me/qr/K7PDJTR4RNAEN1" style="color: white; text-decoration: none;">
            تواصل عبر واتساب
          </a>
        </button>

    </div>
    </div>
  </section>
{% endblock body %}
